.container {
    display: grid;
    grid-template: repeat(24, 20px)/repeat(8, 1fr);
    border: 2px;
    margin: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e74c3c;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 0 black;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin-left: 20px;
}

.navbar a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 18px;
    transition: border 0.1s;
}

.header_image {
    background-image: url(../img/Header_index.jpg);
    background-size: cover;
    background-position: 50%;
    color: #ffffff;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    box-shadow: 0 5px 0 #e74c3c;
}

.p_1 {
    grid-area: 4/4/span 16/span 4;
}

.img_1 {
    grid-area: 4/0/span 2/span 2;
}

.container > p {
    background-color: #3ce8aa;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    box-sizing: border-box;
    box-shadow: 20px 20px 0 #e74c3c;
    border-radius: 10px;
}

.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.3s ease, left 0.3s ease; /* Animate the width and position */
}

.navbar a:hover::before {
    width: 100%;
    left: 0;
}

aside {
    background-color: #f4f4f4;
    padding: 15px;
    margin: 20px 0;
    border-left: 4px solid #e74c3c;
    position: fixed;
    top: 228px;
    right: 0;
    overflow-y: auto;
    height: 100vh;
}

aside h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

aside ul {
    list-style-type: none;
    padding: 0;
}

aside ul li {
    margin: 10px 0;
}